body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  width: 995px;
  height: 696px;
  padding: 24px 156px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  margin: 10px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s;
}

.gallery-image:hover {
  transform: scale(1.1);
}
